{
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint-config-prettier",
    "prettier/react"
  ],
  "rules": {
    "no-plusplus": "off",
    "react/jsx-filename-extension": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "react/jsx-props-no-spreading": "off",
    "no-unused-vars": "off",
    "import/no-extraneous-dependencies": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/no-autofocus": "off",
    "operator-assignment": "off",
    "react/no-this-in-sfc": "off"
  }
}
